


CREATE TABLE [dbo].[Amenities](
	[AmenityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Amenitie__842AF52BFD7A5843] PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoomId] [int] NULL,
	[RoleNote] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[CustomerID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Contract__C90D346956915299] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingId] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Description] [nvarchar](255) NULL,
	[Location] [nvarchar](50) NULL,
	[phone_number] [varchar](50) NULL,
	[check_in_time] [time](7) NULL,
	[check_out_time] [time](7) NULL,
	[reception_247] [bit] NULL,
	[languages_supported] [nvarchar](200) NULL,
 CONSTRAINT [PK__Building__5463CDC496130966] PRIMARY KEY CLUSTERED 
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
	[IdentityNumber] [varchar](50) NULL,
	[JoinDate] [date] NULL,
 CONSTRAINT [PK__Customer__A4AE64B89C9EFFB0] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerVouchers]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVouchers](
	[CustomerVoucherId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[VoucherId] [int] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[UsedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerVoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[RoomTotal] [decimal](18, 2) NOT NULL,
	[ServiceTotal] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaundryItems]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaundryItems](
	[LaundryItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ItemName] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[LaundryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[DatePosted] [datetime] NULL,
	[IsPublished] [bit] NULL,
	[UserId] [int] NULL,
	[BuildingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserID] [int] NULL,
	[SenderCustomerID] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NULL,
	[ReceiverRole] [nvarchar](50) NULL,
	[IsBroadcast] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationStatus]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationStatus](
	[NotificationID] [int] NOT NULL,
	[ReceiverType] [nvarchar](10) NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[IsRead] [bit] NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC,
	[ReceiverType] ASC,
	[ReceiverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
	[PaymentStatus] [varchar](20) NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE1A5E614135] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomAmenities]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAmenities](
	[RoomId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
 CONSTRAINT [PK__RoomAmen__9AC4964B67360EE7] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC,
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomReviews]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[FloorNumber] [int] NULL,
	[RoomNumber] [nvarchar](20) NULL,
	[RoomType] [nvarchar](50) NULL,
	[Price] [bigint] NULL,
	[MaxOccupancy] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[BuildingId] [int] NULL,
 CONSTRAINT [PK__Rooms__328639396908BCE4] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOrders]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOrders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ServiceId] [int] NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[Notes] [text] NULL,
	[RoomId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NULL,
	[ServiceType] [varchar](50) NULL,
	[Description] [text] NULL,
	[Price] [decimal](10, 2) NULL,
	[ImageURL] [varchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportMessages]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportMessages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[StaffId] [int] NULL,
	[SenderType] [nvarchar](20) NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[LastLogin] [datetime] NULL,
	[RoleId] [int] NULL,
	[StatusId] [tinyint] NULL,
	[CreationDate] [datetime] NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[IdentityNumber] [varchar](50) NULL,
	[JoinDate] [date] NULL,
 CONSTRAINT [PK__Users__1788CC4C762157D1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 12/06/2025 12:47:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercent] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityId], [Name], [Description]) VALUES (1, N'Free Wi-Fi', N'Unlimited high-speed wireless internet access')
INSERT [dbo].[Amenities] ([AmenityId], [Name], [Description]) VALUES (2, N'Flat Screen TV', N'Enjoy entertainment with a modern flat-screen television')
INSERT [dbo].[Amenities] ([AmenityId], [Name], [Description]) VALUES (3, N'Air Conditioning', N'Room equipped with individual air conditioning control')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentId], [UserId], [RoomId], [RoleNote]) VALUES (1, 4, 1, N'Nhân viên kỹ thuật')
INSERT [dbo].[Assignments] ([AssignmentId], [UserId], [RoomId], [RoleNote]) VALUES (2, 3, 2, N'Lễ tân trực phòng')
INSERT [dbo].[Assignments] ([AssignmentId], [UserId], [RoomId], [RoleNote]) VALUES (3, 2, 3, N'Quản lý khu vực')
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerID], [StartDate], [EndDate], [Status]) VALUES (1, 1, NULL, CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), N'Ðã nhận phòng')
INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerID], [StartDate], [EndDate], [Status]) VALUES (2, 2, NULL, CAST(N'2024-02-01' AS Date), CAST(N'2025-01-31' AS Date), N'Ðã nhận phòng')
INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerID], [StartDate], [EndDate], [Status]) VALUES (3, 3, NULL, CAST(N'2024-06-01' AS Date), CAST(N'2024-06-04' AS Date), N'Ðã nhận phòng')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([BuildingId], [BuildingName], [Address], [Description], [Location], [phone_number], [check_in_time], [check_out_time], [reception_247], [languages_supported]) VALUES (1, N'Tòa nhà A', N'123 Nguyễn Văn Cừ, Phường An Khánh, Ninh Kiều, Cần Thơ,Việt Nam ', N'Tòa nhà trung tâm', N'Cần Thơ ', N'0346141483', CAST(N'02:00:00' AS Time), CAST(N'12:00:00' AS Time), 1, N'Ngôn Ngữ Hỗ Trợ : Tiếng Việt, Tiếng Anh, Tiếng Nhật ')
INSERT [dbo].[Buildings] ([BuildingId], [BuildingName], [Address], [Description], [Location], [phone_number], [check_in_time], [check_out_time], [reception_247], [languages_supported]) VALUES (2, N'Tòa nhà B', N' Số 47 Thùy Vân, Phường 2, Thành phố Vũng Tàu, Bà Rịa - Vũng Tàu, Việt Nam', N'Tòa nhà van phòng', N'Vũng Tàu ', N'0346141483', CAST(N'02:00:00' AS Time), CAST(N'12:00:00' AS Time), 1, N'Ngôn Ngữ Hỗ Trợ : Tiếng Việt, Tiếng Anh, Tiếng Nhật ')
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [UserName], [Password], [FullName], [Phone], [Email], [Address], [Gender], [DateOfBirth], [Status], [AvatarUrl], [CreationDate], [LastLogin], [IdentityNumber], [JoinDate]) VALUES (1, N'customer', N'c4ca4238a0b923820dcc509a6f75849b', N'JoinCena', N'0346141483', N'customer@example.com', NULL, N'Nam', CAST(N'2004-12-20' AS Date), N'1', N'images/Customer1.jpg', CAST(N'2025-01-05T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [UserName], [Password], [FullName], [Phone], [Email], [Address], [Gender], [DateOfBirth], [Status], [AvatarUrl], [CreationDate], [LastLogin], [IdentityNumber], [JoinDate]) VALUES (2, N'Customer02', N'c4ca4238a0b923820dcc509a6f75849b', N'Bob Tran', N'0901000002', N'bob02@example.com', N'456 Tran Hung Dao, Hanoi', N'Male', CAST(N'1992-05-15' AS Date), N'Active', N'images/Customer2.jpg', CAST(N'2025-06-11T23:47:47.987' AS DateTime), CAST(N'2025-06-13T23:47:47.987' AS DateTime), N'123456789002', CAST(N'2025-06-11' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [UserName], [Password], [FullName], [Phone], [Email], [Address], [Gender], [DateOfBirth], [Status], [AvatarUrl], [CreationDate], [LastLogin], [IdentityNumber], [JoinDate]) VALUES (3, N'Customer03', N'c4ca4238a0b923820dcc509a6f75849b', N'Carol Pham', N'0901000003', N'carol03@example.com', N'789 Nguyen Trai, Da Nang', N'Female', CAST(N'1998-07-22' AS Date), N'Active', N'images/Customer3.jpg', CAST(N'2025-06-11T23:47:47.987' AS DateTime), CAST(N'2025-06-14T23:47:47.987' AS DateTime), N'123456789003', CAST(N'2025-06-11' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [OrderId], [RoomId], [Amount], [PaymentMethod], [PaymentStatus], [PaymentDate]) VALUES (1, 1, 1, CAST(550000.00 AS Decimal(10, 2)), N'Credit Card', N'Completed', CAST(N'2025-04-30T12:09:33.153' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [RoomId], [Amount], [PaymentMethod], [PaymentStatus], [PaymentDate]) VALUES (2, 2, 2, CAST(550000.00 AS Decimal(10, 2)), N'Cash', N'Completed', CAST(N'2025-04-30T12:09:33.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Quản lý')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Lễ tân')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RoomAmenities] ([RoomId], [AmenityId]) VALUES (1, 1)
INSERT [dbo].[RoomAmenities] ([RoomId], [AmenityId]) VALUES (1, 2)
INSERT [dbo].[RoomAmenities] ([RoomId], [AmenityId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[RoomReviews] ON 

INSERT [dbo].[RoomReviews] ([ReviewId], [RoomId], [CustomerId], [Rating], [Comment], [CreatedAt]) VALUES (2, 1, 1, 5, N'The room was exceptionally clean and well-organized. I had a wonderful night’s sleep.', CAST(N'2024-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomReviews] ([ReviewId], [RoomId], [CustomerId], [Rating], [Comment], [CreatedAt]) VALUES (3, 1, 2, 4, N'Quiet location and helpful staff. Air conditioning could be improved.', CAST(N'2024-01-11T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomReviews] ([ReviewId], [RoomId], [CustomerId], [Rating], [Comment], [CreatedAt]) VALUES (4, 1, 3, 5, N'Fantastic stay! The room exceeded my expectations in every way.', CAST(N'2024-01-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoomReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [FloorNumber], [RoomNumber], [RoomType], [Price], [MaxOccupancy], [Description], [ImageUrl], [Status], [BuildingId]) VALUES (1, 1, N'101', N'Phòng đơn', 500000, 1, N'Rộng rãi', N'images/phongdon.jpg', N'Còn trống', 1)
INSERT [dbo].[Rooms] ([RoomId], [FloorNumber], [RoomNumber], [RoomType], [Price], [MaxOccupancy], [Description], [ImageUrl], [Status], [BuildingId]) VALUES (2, 1, N'102', N'Phòng đôi', 700000, 2, N'Thoáng mát', N'images/phongdoi.jpg', N'Còn trống', 1)
INSERT [dbo].[Rooms] ([RoomId], [FloorNumber], [RoomNumber], [RoomType], [Price], [MaxOccupancy], [Description], [ImageUrl], [Status], [BuildingId]) VALUES (3, 1, N'103', N'Phòng đôi', 700000, 2, N'Sang trọng', N'images/phongdoi1.jpg', N'Còn trống', 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Password], [LastLogin], [RoleId], [StatusId], [CreationDate], [AvatarUrl], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [IdentityNumber], [JoinDate]) VALUES (1, N'admin01', N'c4ca4238a0b923820dcc509a6f75849b', NULL, 1, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'images/face.jpg', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [LastLogin], [RoleId], [StatusId], [CreationDate], [AvatarUrl], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [IdentityNumber], [JoinDate]) VALUES (2, N'manager01', N'E10ADC3949BA59ABBE56E057F20F883EE10ADC3949BA59ABBE56E057F20F883E', NULL, 2, 1, CAST(N'2025-01-02T00:00:00.000' AS DateTime), N'images/face.jpg', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [LastLogin], [RoleId], [StatusId], [CreationDate], [AvatarUrl], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [IdentityNumber], [JoinDate]) VALUES (3, N'reception01', N'E10ADC3949BA59ABBE56E057F20F883E', NULL, 3, 1, CAST(N'2025-01-03T00:00:00.000' AS DateTime), N'images/face.jpg', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__C9F284564BDA72F0]    Script Date: 12/06/2025 12:47:33 CH ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ__Customer__C9F284564BDA72F0] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E44675469E]    Script Date: 12/06/2025 12:47:33 CH ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E44675469E] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__A25C5AA748997FC8]    Script Date: 12/06/2025 12:47:33 CH ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF__Customers__Statu__0D7A0286]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF__Customers__Creat__0E6E26BF]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[CustomerVouchers] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[CustomerVouchers] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [ServiceTotal]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [DatePosted]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsBroadcast]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[RoomReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SupportMessages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[SupportMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__StatusId__4D5F7D71]  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK__Assignmen__RoomI__4BAC3F29] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK__Assignmen__RoomI__4BAC3F29]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK__Assignmen__UserI__4AB81AF0] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK__Assignmen__UserI__4AB81AF0]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Users] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Users]
GO
ALTER TABLE [dbo].[CustomerVouchers]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerVouchers]  WITH CHECK ADD FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([VoucherId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[LaundryItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[ServiceOrders] ([OrderId])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK__News__BuildingID__236943A5] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Buildings] ([BuildingId])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK__News__BuildingID__236943A5]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK__News__UserId__245D67DE] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK__News__UserId__245D67DE]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_SenderCustomer] FOREIGN KEY([SenderCustomerID])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_SenderCustomer]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_SenderUser] FOREIGN KEY([SenderUserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_SenderUser]
GO
ALTER TABLE [dbo].[NotificationStatus]  WITH CHECK ADD FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notifications] ([NotificationID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__RoomId__498EEC8D] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__RoomId__498EEC8D]
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD  CONSTRAINT [FK__RoomAmeni__Ameni__2CBDA3B5] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([AmenityId])
GO
ALTER TABLE [dbo].[RoomAmenities] CHECK CONSTRAINT [FK__RoomAmeni__Ameni__2CBDA3B5]
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD  CONSTRAINT [FK__RoomAmeni__RoomI__2BC97F7C] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[RoomAmenities] CHECK CONSTRAINT [FK__RoomAmeni__RoomI__2BC97F7C]
GO
ALTER TABLE [dbo].[RoomReviews]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[RoomReviews]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Buildings] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Buildings] ([BuildingId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Buildings]
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOrders_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[ServiceOrders] CHECK CONSTRAINT [FK_ServiceOrders_Rooms]
GO
ALTER TABLE [dbo].[SupportMessages]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[SupportMessages]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[RoomReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
